<% if restaurant.errors.count > 0 %>
  <ul>
    <% restaurant.errors.messages.each do |error| %>
      <li> <%= error[0] %>: <%= error[1][0] %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for restaurant do |form| %>
  <div>
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :address %>
    <br>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :category %>
    <br>
    <%= form.text_field :category%>
  </div>
  <div>
    <%= form.label :phone_number %>
    <br>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
